[user]
	name = Till Hoffmann
	email = till@thetillhoff.de
	signingkey = ~/.ssh/id_ed25519.pub
[commit]
	gpgsign = false
[init]
	defaultBranch = main
	templateDir = /Users/tihonetlight.com/.git-template
[pull]
	rebase = true
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
