# The lines in this file are sorted alphabetically.
#
# All folder names have a trailing `/`.
#
# To ignore a folder, but don't ignore a specific file in it, use the following format
#   <folderpath>/*
#   !<folderpath>/<filepath>
# Please note, that the `/*` are required.
# See https://stackoverflow.com/a/5534865

.android/

.ansible/

AppImages/

.atlas/

.aws/
.aws

.azure

.bash_history

.bundle/

.cache/

.cargo/

.cdk/

.config/autostart/
.config/configstore/
.config/Cursor/
.config/dconf/
.config/fcitx/
.config/fcitx5/
.config/fontconfig/
.config/gh/
.config/glow/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/kate/
.config/KDE/
.config/kdeconnect/
.config/kdedefaults/
.config/libaccounts-glib/
.config/lutris/
.config/MangoHud/
.config/menus/
.config/onedrive/
.config/org.gnome.Ptyxis/
.config/plasma-workspace/
.config/pulse/
.config/qtvirtualkeyboard/
.config/session/
.config/sops/
.config/systemd/
.config/user-tmpfiles.d/
.config/vkBasalt/
.config/wireplumber/
.config/xsettingsd/
.config/*

.config/iterm2/
.config/packer/

.cups/

.cursor/
.cursor-tutor/
.cursor-server/

Data/

.docker/*
!.docker/daemon.json

.dotnet/

.DS_Store

.expo/

Games/

.gem/

.gitconfig

.gnupg/*
!.gnupg/gpg.conf

.gradle/

.granted/*

.gtkrc-2.0

.idea/

.iterm2/
.iterm2_shell_integration.zsh

.k8slens/

.kiro/

.kube/

.kuberlr/

.lesshst

.local/

.localized

.motd_shown

.mysql_history

.netrc

.node_repl_history

.npm/

.nvm/

.oh-my-zsh/

OneDrive/

.pki/

.postman/

.pulumi/

.python_history

.rd/

.rustup/

.ssh/*
!.ssh/config

.steam/
.steampath
.steampid

.sudo_as_admin_successful

.talos/

.terraform.d/

.th-client/

.Trash/

.var/

Videos/

.viminfo

.vscode/
.vscode-remote-containers/

# For wsl
.vscode-server/

.wget-hsts

.yarn/

.zsh_history
.zsh_sessions/

.zcompdump*

Applications/

# code/* # TODO
# !code/*.*
# !code/*
code/.DS_Store
code/*/

Desktop/

Documents/

Downloads/

go/

Google Drive

Library/

Movies/

Music/

# This is a symlink
OneDrive - thetillhoff

Pictures/

Postman/

Public/

tillhoffmann
